<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <meta name="description" content="description site">
    <link rel="stylesheet" type="text/css" href="assets/css/app.min.css">
</head>

<body>
    <div class="page-wrapper" id="pageWrapper">
        {% include "_html/_base/_includes/_header/_header.html" %}
        {% include "_html/_base/_includes/_footer/_footer.html" %}
    </div>
    <script src="assets/js/app.min.js"></script>
</body>

</html>